/** Horizon theme colors */

$amethyst: #8a31b9;
$crimson: #da103f;
$elm: #1d8991;
$thunderbird: #dc3318;
$tango: #f6661e;
$jaffa: #f77d26;
$black: #333333;

$accent: #f9cbbe;
$accent-alt: #f9cec3;
$background: #fdf0ed;
$background-alt: #fadad1;
$secondaryAccent: #e73665;
$secondaryAccentAlt: #e84a72;
$tertiaryAccent: #af5427;
$positive: #07da8c;
$negative: #f43e5c;
$warning: #1eb980;
$modified: #1eaeae;
$lightText: #d5d8da;
$darkText: #06060c;

$border: #1a1c23;
